<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Student Management System</title>

<!-- Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="StudentApp">
	<h1>Student Management System</h1>

	<div ng-controller="studentController">
		<div>
			<form>
				<div class="form-group">
					<label for="studentName">Student Name</label> <input type="text"
						class="form-control" id="name" placeholder="Name" ng-model="studentMain.name">
				</div>
				<div class="form-group">
					<label for="studentEmail">Email address</label> <input
						type="email" class="form-control" id="email"
						placeholder="Email" ng-model="studentMain.email">
				</div>
				<button type="submit" class="btn btn-default" ng-click="addStudnet(studentMain)">Add Student</button>
			</form>
			<table class="table">
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
				</tr>
				<tr data-ng-repeat="student in students">
					<td>{{student.id}}</td>
					<td>{{student.name}}</td>
					<td>{{student.email}}</td>
					<button class="btn btn-default" type="submit"
						ng-click="updateStudent(student)">Edit</button>
					<button class="btn btn-default" type="submit"
						ng-click="deleteStudent(student.id)">Delete</button>
				</tr>
			</table>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller/studentController.js"></script>

</body>
</html>